html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#title{
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 100%;
    background-color: grey;
    text-align: center;
    display: block;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}